.flexContainer{
    margin: 10px;
    width: 350px;
    height: 200px;
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
}

.container1{
    flex-direction: row;
    justify-content: start;
    align-items: start;
    
}

.container2{
    flex-direction: row;
    justify-content: center;
    align-items: start; 
}

.container3{
    flex-direction: row;
    justify-content: end;
    align-items: start; 
}

.container4{
    flex-direction: row;
    justify-content: start;
    align-items: center; 
}

.container5{
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.container6{
    flex-direction: row;
    justify-content: end;
    align-items: center; 
}

.container7{
    flex-direction: row;
    justify-content: start;
    align-items: end; 
}

.container8{
    flex-direction: row;
    justify-content: center;
    align-items: end; 
}

.container9{
    flex-direction: row;
    justify-content: end;
    align-items: end; 
}

.container10{
    flex-direction: column;
    justify-content: start;
    align-items: start; 
}

.container11{
    flex-direction: column;
    justify-content: start;
    align-items: center; 
}

.container12{
    flex-direction: column;
    justify-content: start;
    align-items: end; 
}

.container13{
    flex-direction: column;
    justify-content: center;
    align-items: start; 
}

.container14{
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container15{
    flex-direction: column;
    justify-content: center;
    align-items: end; 
}

.container16{
    flex-direction: column;
    justify-content: end;
    align-items: start; 
}

.container17{
    flex-direction: column;
    justify-content: end;
    align-items: center; 
}

.container18{
    flex-direction: column;
    justify-content: end;
    align-items: end; 
}

.container19{
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start; 
}

.container20{
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start; 
}

.container21{
    flex-direction: row-reverse;
    justify-content: end;
    align-items: start; 
}

.container22{
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center; 
}

.container23{
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; 
}
.container24{
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center; 
}

.container25{
    flex-direction: row-reverse;
    justify-content: start;
    align-items: end; 
}

.container26{
    flex-direction: row-reverse;
    justify-content: center;
    align-items: end; 
}

.container27{
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end; 
}

.container28{
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start; 
}
.container29{
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center; 
}

.container30{
    flex-direction: column-reverse;
    justify-content: start;
    align-items: end; 
}

.container31{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: start; 
}

.container32{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; 
}

.container33{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: end; 
}

.container34{
    flex-direction: column-reverse;
    justify-content: end;
    align-items: start; 
}

.container35{
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center; 
}

.container36{
    flex-direction: column-reverse;
    justify-content: end;
    align-items: end; 
}

.item{
    width: 30px;
    height: 30px;
    background-color: deeppink;
    color: white;
    border: 2px solid black;
    font-size: 1.5rem;
    text-align: center;
}

.body{
    display: flex;
}
